{% extends 'userbase.html' %}
{% load static %}

{% block contents %}

   
    <div class="content max-width-1 m-auto my-2">
        
 
    
    </div>
  <div class="container" data-aos="fade-up">
  <div class="h1 text-center text-dark" id="pageHeaderTitle"><spam style="color:blue;">Welcome To Prediction Page</spam></div>
        <div class="row content">
          
          <div class="col-lg-12 pt-8 pt-lg-0" data-aos="fade-left" style="font-family: Arial, Helvetica, sans-serif;"><br>
<br>
            <h3 >  </h3>
      <br>
                        
                            
              
              <h3 style="text-align: center;">Model Predicted Patient Report: <br><br><spam style="color:red; font-size: 50px;"> {{object}} </h3>
              
           
          </div>
        </div>

      </div>
           




        
{% endblock %}

